.adviceBox {
    position: relative;
    text-align: center;
    background-color: var(--dark-grayish-blue);
    padding: 30px 30px 55px;
    border-radius: 15px;
}

.advice {
    color: var(--light-cyan);
    font-size: 1.75rem;
    font-weight: 800;
}

.adviceId {
    color: var(--neon-green);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1rem;
}

.generateBtn {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: var(--neon-green);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}

.generateBtn:hover {
    box-shadow: 0 0 20px var(--neon-green);
}

.diceIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.errorMsg {
    color: white;
}

@media (min-width: 769px) {
    .adviceBox {
        width: 520px;
    }
}